* {
    padding: 0;
    margin: 0;
}

/* front page */
.hero {
    position: relative;
    background-image: url('assets/images/sbpig.jpg');
    background-size: cover; /* Ensure the image covers the entire hero section */
    height: 100vh; /* Make the hero section take up the full viewport height */
    color: #fff; /* Text color on the hero image */
    text-align: center; /* Center text horizontally */
    display: flex; /* Center content vertically */
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

 .hero img {
    position: absolute;
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.hero-content {
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: #fff;  
} 



.navbar-text {
    font-size: small;
}

/* gallery */
.photo-slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel-image {
    width: 100%;
    /* height: 550px; */
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* welding page */
.gallery {
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
    background: #f2f2f2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .carousel-item {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: #f2f2f2;
    position: relative;
object-fit: contain;
} */

